.delete-message-modal-container {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    .delete-message-modal-message-content {
        background-color: var(--neutral-800);
        padding: 0.25rem;
        border-radius: 0.25rem;
        width: 100%;
    }

    .delete-message-modal-header {
        font-size: 1.5rem;
        font-weight: 700;
    }
}
