.create-chanel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
    padding: 2rem;

    .create-chanel-header {
        font-size: 2rem;
        color: black;
        font-weight: 700;
    }

    .create-chanel-form-container {
        width: 80%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
