.chat-attachment-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    width: 36rem;
    margin: 2rem auto;
    text-align: center;

    .chat-attachment-modal-title {
        font-size: var(--text-2xl);
        font-weight: 700;
    }

    .chat-attachment-modal-sub-title {
        font-size: var(--text-sm);
        font-weight: 500;
        color: var(--gray-400);
    }

    .chat-attachment-modal-image-container {
        position: relative;
        width: 60%;

        .image-cross-icon {
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: 2px;
            padding: 0.125rem;
            border-radius: 50%;
            background-color: var(--danger-primary);
            color: var(--gray-100);
        }
    }
}
