.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    outline: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background: var(--white);
    min-width: 100px;
    min-height: 10px;
    // padding: 1rem 0;
    overflow: hidden;

    .modal-cross-icon {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        padding: 0.125rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
}
