// Shades of Gray
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-950: #030712;

// Neutrals
$neutral-900: #171717;
$neutral-800: #27272a;
$neutral-700: #3f3f46;
$neutral-600: #525252;
$neutral-500: #737373;
$neutral-400: #a3a3a3;

// Primary
$primary-green: #22c55e;
$hover-green: #16a34a;

$primary-violet: #8b5cf6;
$hover-violet: #6d28d9;

// Accents
$success-primary: #22c55e;
$success-secondary: #d9f99d;

$danger-primary: #f43f5e;
$danger-secondary: #ffe4e6;

// Solids
$white: #ffffff;
$black: #000000;
$hover-blue: #0036b1;
$primary-blue: #0ea5e9;
