.chat-message-item-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.25rem;
    position: relative;
    padding: 0.25rem;

    &.isOwner {
        align-self: flex-end;

        .chat-message-item-sender-creds {
            flex-direction: row-reverse;
        }

        .chat-message-item-message-details,
        .chat-message-item-message-file,
        .chat-message-item-message-image {
            margin: auto 0 auto auto;
        }

        .chat-message-item-actions {
            left: 20px;
            top: -10px;
        }
    }

    .chat-message-item-sender-creds {
        display: flex;
        align-items: center;
        gap: 1rem;

        .chat-message-item-sender-creds-name {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: var(--gray-50);
            font-weight: 600;
            font-size: 1rem;
        }

        .chat-message-item-sender-creds-timestamp {
            color: var(--gray-300);
            font-size: 0.75rem;
        }
    }

    .chat-message-item-message-details {
        margin: auto auto auto 0;
        width: fit-content;
        color: var(--gray-50);
        background-color: var(--neutral-800);
        padding: 0.5rem;
        border-radius: 0.25rem;
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    .chat-message-item-message-image {
        margin: auto auto auto 0;
        width: 15rem;
        height: 15rem;
        cursor: pointer;
        background-color: var(--neutral-800);
        border-radius: 0.25rem;
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        cursor: pointer;
        border: 1px solid var(--neutral-500);

        &:hover {
            border: 1px solid var(--primary-green);
        }

        .image-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 100%;

            .message-image {
                object-fit: contain;
            }
        }
    }

    .chat-message-item-message-file {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: auto auto auto 0;
        width: fit-content;
        color: var(--gray-50);
        background-color: var(--neutral-800);
        padding: 0.5rem;
        border-radius: 0.25rem;
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
        cursor: pointer;

        &:hover {
            color: var(--primary-green);
        }
    }

    .chat-message-item-actions {
        display: none;
        color: var(--gray-50);
        position: absolute;
        align-items: center;
        gap: 0.5rem;
        top: -10px;
        right: 20px;

        .chat-message-item-action-item {
            background-color: var(--neutral-800);
            color: var(--gray-50);
            padding: 0.25rem;
            border-radius: 0.25rem;
            cursor: pointer;
        }
    }

    &:hover {
        background-color: var(--neutral-500);
        border-radius: 0.25rem;

        .chat-message-item-actions {
            display: flex;
        }
    }
}
