.manage-members-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    padding: 2rem;

    .manage-members-modal-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.25rem;

        .manage-members-modal-header-title {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .manage-members-modal-header-sub-title {
            color: var(--gray-500);
            font-size: 0.875rem;
            font-weight: 500;
        }
    }

    .manage-members-modal-member-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
