.member-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;

    .member-item-user-details {
        flex-direction: column;
        display: flex;
        justify-content: center;

        .member-item-user-name {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-size: 1.125rem;
            font-weight: 700;
            color: var(--gray-700);
        }

        .member-item-user-email {
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--gray-400);
        }
    }

    .member-item-see-more {
        cursor: pointer;
    }
}

.member-item-details-popover {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .member-item-details-popover-option-item {
        width: 12rem;
        cursor: pointer;
        padding: 0.25rem;
        font-weight: 600;
        font-size: 0.875rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: var(--gray-200);
        }

        &.isRed {
            color: var(--danger-primary);
        }
    }
}
