.server-search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    background-color: var(--neutral-800);
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
        background-color: var(--neutral-700);
    }

    .server-search-title {
        display: flex;
        align-items: center;
        align-items: center;
        color: var(--gray-400);
        font-size: 0.875rem;
        font-weight: 500;
        gap: 0.25rem;
    }

    .server-search-shortcut {
        display: flex;
        align-items: center;
        align-items: center;
        font-size: 0.75rem;
        gap: 0.25rem;

        .server-search-shortcut-item {
            padding: 0.125rem;
            background-color: var(--neutral-600);
            border-radius: 0.125rem;
            width: 1rem;
            height: 1rem;
        }
    }
}

.search-server-modal-container {
    min-height: 6rem;
    color: var(--gray-100);
    background-color: var(--neutral-900);
    width: 30rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .search-server-modal-results {
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 20rem;
        overflow-y: scroll;
        gap: 0.5rem;

        .search-server-modal-results-category {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 0.25rem;

            .search-server-modal-results-category-title {
                color: var(--gray-500);
                font-weight: 700;
                font-size: 0.875rem;
            }

            .search-server-modal-results-category-channels {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .search-server-modal-results-channel-item {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.875rem;
                    font-weight: 700;
                    padding: 0.5rem;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    border-radius: 0.5rem;

                    &:hover {
                        background-color: var(--neutral-700);
                    }
                }
            }
        }
    }
}
