.server-channels-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    .server-channels-categoryItem {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.25rem;

        .server-channels-categoryItem-name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--gray-500);
            font-size: 0.75rem;
            font-weight: 600;
        }

        .server-channels-categoryItem-channels {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 0.25rem;

            .server-channels-categoryItem-channelItem {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.6rem;
                color: var(--gray-400);
                border-radius: 0.25rem;
                font-size: 0.875rem;
                cursor: pointer;
                line-height: 1rem;

                &.isSelected {
                    background-color: var(--neutral-700);
                }

                .server-channels-categoryItem-channelItem-name {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.15rem 0;
                }

                .server-channels-categoryItem-channelItem-invisible-container {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    gap: 0.25rem;
                }

                .server-channels-categoryItem-channelItem-visible-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.25rem;
                }

                &:hover {
                    background-color: var(--neutral-700);

                    .server-channels-categoryItem-channelItem-invisible-container {
                        display: flex;
                    }

                    .server-channels-categoryItem-channelItem-visible-container {
                        display: none;
                    }
                }
            }
        }
    }
}
