.create-server-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;

    .create-server-modal-title {
        font-size: var(--text-2xl);
        font-weight: 700;
    }

    .create-server-modal-sub-title {
        font-size: var(--text-sm);
        font-weight: 500;
        color: var(--gray-400);
    }
}
